.App {
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  min-height: 100%;
  padding: calc(var(--space-sm) + var(--clickable-min-area));
}

.App__icon {
  position: absolute;
  top: var(--space-sm);
  left: var(--space-sm);
  display: block;
  width: var(--clickable-min-area);
  height: var(--clickable-min-area);
  background: grey center/contain url('./logo.png');
  border-radius: 50%;
  cursor: pointer;
}

.App__Text {
  border: none;
  width: 100%;
  min-height: 80vh;
}

.App__Text>p {
  max-width: 70ch;
  margin-inline: auto;
  min-height: 1em;
}

.debug {
  outline: 1px dashed black;
}